@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
// ## Colors
// ### Primary
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$white: #fff;
// ### Neutral
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
// ## Typography
// ### Body Copy
$paragraph-size: 16px;
// ### Font
$Red-Hat-Display: Red Hat Display, sans-serif;
